body {
  background-color : cyan;
  text-align : center;
  box-sizing : border-box;
}

img {
  width : 350px;
  height : 350px;
}

.image-section {
  display : flex;
  justify-content : center;
}

.section-style {
  margin-right : 25px;
  margin-left : 25px;
  background-color : cyan;
}

div {
  margin-top : 15px;
}